@charset "utf-8";

/* body */
    body {
        position: relative;
        margin: 0;
        height: 100%;
    }

/* toolbar */
    .toolbar {
        background-color: #FFF;
        height: 40px;
        margin: 10px;
    }
        .toolbar div {
            display: inline-block;
            width: 35px;
            height: 35px;
        }
        .toolbar :nth-child(1) img {
            margin: 5px;
            float:left;
            text-align: center;
            width: 100%;
        }
        .toolbar :nth-child(2) img {
            margin: 5px;
            float: left;
            width: 90%;
        }

/* lately-search-word */
    .lately-search-word {
        background-color: #FFF;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
        .lately-search-word div p{
            margin: 0;
        }
        .lately-search-word div{
            display: inline-block;
        }
        .lately-search-word div > :nth-child(1){
            float: left;
        }
        .lately-search-word div > :nth-child(2){
            float: right;
        }
        .lately-search-word .text1 {
            width: 100%;
            margin: 1%;
        }
            .lately-search-word .text1 :nth-child(1){
                font-size: 140%;
            }
            .lately-search-word .text1 :nth-child(2){
                font-size: 80%;
                color: #898989;
            }

        .lately-search-word .text2 {
            width: 100%;
        }
            .lately-search-word .text2 :nth-child(1){
                font-size: 80%;
            }
/* popularity-keyword */
    .popularity-keyword {
        background-color: #FFF;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
        .popularity-hashtag h3{
            margin-bottom: 3%;
        }
        .popularity-keyword p{
            margin: 0;
            font-size: 140%;
            margin-bottom: 5%;
        }
        .popularity-keyword button{
            min-width:70px;
            background-color: #eceaea;
            border: none;
            color:#000;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            margin: 4px;
            cursor: pointer;
            border-radius:2em;
        }.popularity-keyword button:hover {
            background-color: rgb(175, 175, 248);
        }

/* popularity-hashtag */
    .popularity-hashtag {
        background-color: #FFF;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .popularity-hashtag .text1{
        margin: 0;
        font-size: 140%;
        margin-bottom: 5%;
    }

/* swiper */    
    .swiper-container {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        border-radius:2em;
        padding: 3%;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/* popularity-goods */
.popularity-goods {
    background-color: #FFF;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.popularity-goods .text1{
    margin: 0;
    font-size: 140%;
    margin-bottom: 5%;
}

.box11 a{
	text-align: left;
}

form.from-inline.my-2.my-lg-0 {
    display: flex;
}

input.form-control.mr-sm-2 {
    width: 80%;
    padding: 0 6% 0 6%;
    min-height: 30px;
    border: white;
    border-radius: 2em;
    background: #eceaea;
    flex: 1;
}
button.btn.btn-outline-success.my-2.my-sm-0 {
    background: url("/static/images/searchicon.png") no-repeat;
    width: 10%;
    border: white;
}