{% extends "layout.html" %}

{% block content %}
<div class="brand-banner">
	<img id="uploadB" src="{{ url_for('static', filename='images/Screen Shot 2021-02-04 at 2.30.42 PM@2x.png') }}">
</div>

<h3 class="brand-h3">베스트</h3>
<section>
	<div class="content-item">
		<div class="item1">
			<a href="https://benito.co.kr/product/made-2%EB%A7%8C%EC%9E%A5-%ED%8C%90%EB%A7%A4-%EC%86%94%EB%A6%AC%EB%93%9C-h%EB%9D%BC%EC%9D%B8-%EC%9B%90%ED%94%BC%EC%8A%A4-sl-2types-%EC%A0%95%EC%9E%A5%EC%9B%90%ED%94%BC%EC%8A%A4%EC%98%A4%ED%94%BC%EC%8A%A4%EB%A3%A9%EC%97%B0%EB%A7%90%EB%A3%A9%EB%8D%B0%EC%9D%B4%ED%8A%B8%EB%A3%A9%EC%B9%B4%EB%9D%BC%EC%9B%90%ED%94%BC%EC%8A%A4h%EB%9D%BC%EC%9D%B8%EC%9B%90%ED%94%BC%EC%8A%A4%EC%88%84%EC%B9%B4%EB%9D%BC/14515/category/9/display/1/">
				<img id="uploadB" src="{{ url_for('static',filename='images/b01.jpg') }}">
				<p>솔리드 H라인 원피스</p>
				<p class="txt-price">64,800</p>
			</a>
		</div>
		<div class="item2">
			<a href="">
				<a
					href="https://benito.co.kr/product/%EB%A1%9C%EB%A9%98-%EB%B8%94%EB%9D%BC%EC%9A%B0%EC%8A%A4-3color-%EC%A3%BC%EB%AC%B8%ED%8F%AD%EC%A3%BC-%EC%95%84%EB%82%98%EC%9A%B4%EC%84%9C%ED%98%91%EC%B0%AC-%EB%B8%8C%EC%9D%B4%EB%84%A5%EC%B9%B4%EB%9D%BC%EC%98%A4%ED%94%BC%EC%8A%A4%EB%A3%A9%EB%8D%B0%EC%9D%BC%EB%A6%AC%EB%A3%A9%EB%8D%B0%EC%9D%B4%ED%8A%B8%EB%A3%A9/9133/category/8/display/1/">
					<img id="uploadB" src="{{ url_for('static',filename='images/b02.jpg') }}">
					<p>로멘 블라우스</p>
				</a>
				<p cla ss="txt-price">39,500</p>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="https://girlsdaily.co.kr/product/%EB%93%9C%EB%A0%88%EC%8B%9C-%EB%8B%88%ED%8A%B8-%EC%9B%90%ED%94%BC%EC%8A%A4/5742/category/54/display/1/
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b03.jpg') }}">
				<p>드레시 니트 원피스</p>
				<p class="txt-price">46,000</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://joymadam.com/product/j2263-%EB%A7%88%EB%8B%B4-%EB%B0%8D%ED%81%AC-%EC%95%8C%ED%8C%8C%EC%B9%B4-%EC%BD%94%ED%8A%B8/1666/
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b04.jpg') }}">
				<p>마담 알파카 코트</p>
				<p class="txt-price">398,000</p>
		</div>
		</a>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="https://benito.co.kr/product/%EC%A1%B0%EC%97%98%EB%9D%BC-%ED%94%84%EB%A6%B4%EC%B9%B4%EB%9D%BC%EB%84%A5-%EB%A1%B1%EC%9B%90%ED%94%BC%EC%8A%A4-%ED%95%98%EA%B0%9D%EC%B9%B4%EB%9D%BC%EC%98%A4%ED%94%BC%EC%8A%A4%EB%8D%B0%EC%9D%BC%EB%A6%AC%EA%B0%80%EC%9D%84%EC%8B%A0%EC%83%81%EA%B2%A8%EC%9A%B8/17536/category/9/display/1/
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b05.jpg') }}">
				<p>긴 소매 프렌치 시크</p>
				<p class="txt-price">35,700</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://www.lotteon.com/p/product/LE1206247037?sitmNo=LE1206247037_1234183827&mall_no=1&dp_infw_cd=SCH%EB%8D%A4%EB%B8%94%ED%8D%BC%EC%88%8F%ED%8C%A8%EB%94%A9
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b06.jpg') }}">
				<p>덤블퍼 숏패딩</p>
				<p class="txt-price">39,560</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="http://www.roompacker.co.kr/shop/shopdetail.html?branduid=80379&search=%25B9%25EA%25B5%25F9%2B%25BD%25BD%25B8%25B2%2B%25C0%25CF%25C0%25DA%2B%25B5%25A5%25B4%25D4%25C6%25D2%25C3%25F7&sort=regdate&xcode=060&mcode=005&scode=&GfDT=bm18W1w%3D
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b07.jpg') }}">
				<p>일자핏 데님팬츠</p>
				<p class="txt-price">24,800</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://www.brandi.co.kr/products/27229007
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b08.jpg') }}">
				<p>니트베스트</p>
				<p class="txt-price">28,900</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="http://shopping.interpark.com/product/productInfo.do?prdNo=6932363187&dispNo=008001083&smid1=common_prd
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b09.jpg') }}">
				<p>꼬배기레이어드니트</p>
				<p class="txt-price">27,360</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://joymadam.com/product/j2263-%EB%A7%88%EB%8B%B4-%EB%B0%8D%ED%81%AC-%EC%95%8C%ED%8C%8C%EC%B9%B4-%EC%BD%94%ED%8A%B8/1666/
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/b04.jpg') }}">
				<p>마담 알파카 코트</p>
				<p class="txt-price">398,560</p>
			</a>
		</div>
	</div>


</section>

<h3 class="brand-h3">아우터</h3>
<section>
	<div class="content-item">
		<div class="item1">
			<a href="https://www.ssfshop.com/8Seconds/GM0020101531185/good
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/outer01.jpg') }}">
				<p>웰론 쇼트 패딩</p>
				<p class="txt-price">27,970</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://store.musinsa.com/app/goods/1568495
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/outer02.jpg') }}">
				<p>벌룬 포인트 가디건</p>
				<p class="txt-price">19,950</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="http://www.gsshop.com/prd/prd.gs?prdid=67087559&kwd=%5B%EC%97%90%EC%9E%87%EC%84%B8%EC%BB%A8%EC%A6%88%5D+%EB%84%A4%EC%9D%B4%EB%B9%84+%ED%80%84%ED%8C%85+%EB%B0%B0%EC%83%89+%EC%87%BC%ED%8A%B8+%EC%A0%90%ED%8D%BC&ab=df&gsid=srcheshop-result&rank=1&lseq=395029
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/outer03.jpg') }}">
				<p>배색 쇼트 점퍼</p>
				<p class="txt-price">69,800</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://front.wemakeprice.com/product/1683104021?utm_source=google_ss&utm_medium=cpc&utm_campaign=r_sa
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/outer05.jpg') }}">
				<p>오버핏 싱글 자켓</p>
				<p class="txt-price">39,500</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="https://www.brandi.co.kr/products/23454152">
				<img id="uploadB" src="{{ url_for('static',filename='images/오버핏 싱글 자켓.jpg') }}">
				<p>인조퍼 숏자켓</p>
				<p class="txt-price">59,800</p>
			</a>
		</div>
		<div class="item2">

		</div>
	</div>
</section>

<h3 class="brand-h3">상의</h3>
<section>
	<div class="content-item">
		<div class="item1">
			<a href="https://www.brandi.co.kr/products/27229007
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/t01.jpg') }}">
				<p>넥프릴 티셔츠</p>
				<p class="txt-price">29,970</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://www.brandi.co.kr/products/20354906
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/t02.jpg') }}">
				<p>다크니스 후드</p>
				<p class="txt-price">37,950</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="https://www.wconcept.co.kr/Product/301060816
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/t03.jpg') }}">
				<p>컷아웃 니트</p>
				<p class="txt-price">55,250</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://www.brandi.co.kr/products/19701874
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/t04.jpg') }}">
				<p>셔링 크롭 블라우스</p>
				<p class="txt-price">19,500</p>
			</a>
		</div>
	</div>
</section>

<h3 class="brand-h3">바지</h3>
<section>
	<div class="content-item">
		<div class="item1">
			<a href="https://www.brandi.co.kr/products/29759349
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/p01.jpg') }}">
				<p>스웻 팬츠</p>
				<p class="txt-price">59,000</p>
			</a>
		</div>
		<div class="item2">
			<a href="http://www.10x10.co.kr/shopping/category_prd.asp?itemid=2273818
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/p02.jpg') }}">
				<p>와이드 밴딩 슬랙스</p>
				<p class="txt-price">20,550</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="https://display.cjmall.com/p/item/71074091
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/p03.jpg') }}">
				<p>부츠컷 데님</p>
				<p class="txt-price">19,950</p>
			</a>
		</div>
		<div class="item2">
			<a href="http://www.gsshop.com/prd/prd.gs?prdid=67447541&kwd=%EC%B0%B0%EB%9E%91+%EC%84%B8%EB%AF%B8%EC%99%80%EC%9D%B4%EB%93%9C+%EC%8A%AC%EB%9E%99%EC%8A%A4&ab=df&gsid=srcheshop-result&rank=1&lseq=395029
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/p04.jpg') }}">
				<p>세미와이드 슬랙스</p>
				<p class="txt-price">19,950</p>
			</a>
		</div>
	</div>
</section>

<h3 class="brand-h3">원피스</h3>
<section>
	<div class="content-item">
		<div class="item1">
			<a href="https://store.musinsa.com/app/goods/1751820?device=pc
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/one01.jpg') }}">
				<p>나염 미니원피스</p>
				<p class="txt-price">38,600</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://crewbi.com/app/product/detail/454721/0
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/one02.jpg') }}">
				<p>버튼 니트 원피스</p>
				<p class="txt-price">48,300</p>
			</a>
		</div>
	</div>

	<div class="content-item">
		<div class="item1">
			<a href="http://www.mariomall.co.kr/Detail?PCODE=P001180952&PID=2301&SearchKeyword=%ED%8A%B8%EC%9C%84%EB%93%9C%20%EB%A0%88%EC%9D%B4%EC%96%B4%EB%93%9C%20%EB%AF%B8%EB%8B%88%20%EC%9B%90%ED%94%BC%EC%8A%A4
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/one03.jpg') }}">
				<p>레이어드 미니 원피스</p>
				<p class="txt-price">40,130</p>
			</a>
		</div>
		<div class="item2">
			<a href="https://store.musinsa.com/app/goods/1775399
			">
				<img id="uploadB" src="{{ url_for('static',filename='images/one04.jpg') }}">
				<p>버튼포인트 롱 원피스</p>
				<p class="txt-price">39,840</p>
			</a>
		</div>
	</div>
</section>


<div class="upload_button">
	<a href="{{ url_for('new_post') }}"><img id="uploadB"
			src="{{ url_for('static', filename='images/uploadbutton.png') }}"></a>
</div>

</section>

</div>


<!-- Script -->
<script>
	$(document).ready(function () {
		tab3.checked = true;
	});
</script>

{% endblock content %}