{% extends "layout.html" %}

{% block content %}
<section>
	{% if current_user.style=='러블리' %}
	<div class="daily-content">
		<div class="content1">
			<div><button>추천상품</button></div>
			<div>
				<!-- <p>case1: 러블리</p> -->
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd1.png') }}"></div>
			<div>
				<p class="p-bold">스커트</p>
				<p>클리오 - 퍼플</p>
				<p>24,000</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static',filename='images/dd2.png') }}"></div>
			<div>
				<p class="p-bold">신발</p>
				<p>셀업 스니커즈 - 화이트</p>
				<p>16,860</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd3.png') }}"></div>
			<div>
				<p class="p-bold">맨투맨</p>
				<p>자수 오버핏 - 아이보리</p>
				<p>56,910</p>
			</div>
		</div>
	</div>
	{% elif current_user.style=='모던시크' %}
	<div class="daily-content">
		<div class="content1">
			<div><button>추천상품</button></div>
			<div>
				<!-- <p>case2: 모던시크</p> -->
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd4.png') }}"></div>
			<div>
				<p class="p-bold">블레이저</p>
				<p>어반 싱글 - 블랙</p>
				<p>49,000</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd5.png') }}"></div>
			<div>
				<p class="p-bold">가방</p>
				<p>커민 백 - 크림</p>
				<p>40,320</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd6.png') }}"></div>
			<div>
				<p class="p-bold">청바지</p>
				<p>넌스판 일자핏 - 인디고</p>
				<p>31,920</p>
			</div>
		</div>
	</div>
	{% elif current_user.style=='베이직' %}
	<div class="daily-content">
		<div class="content1">
			<div><button>추천상품</button></div>
			<div>
				<!-- <p>case3: 베이직</p> -->
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd7.png') }}"></div>
			<div>
				<p class="p-bold">원피스</p>
				<p>플라워 브랜딩 - 민트</p>
				<p>121,600</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd8.png') }}"></div>
			<div>
				<p class="p-bold">블라우스</p>
				<p>프릴 카라 러플 - 화이트</p>
				<p>65,550</p>
			</div>
		</div>
		<div class="content2">
			<div><img src="{{ url_for('static', filename='images/dd9.png') }}"></div>
			<div>
				<p class="p-bold">롱스커트</p>
				<p>프릿츠 이옹 - 스카이</p>
				<p>36,000</p>
			</div>
		</div>
	</div>
	{% else %}
	{% endif %}

</section>
<section id="galleries">
	<!-- Photo Galleries -->
	<div class="gallery">
		<div class="content">
			<!-- 상품 진열 부분 -->
			{% for post in posts %}
			<div class="media">
				<a href="{{ url_for('post', post_id=post.id) }}">
					<img src="{{ url_for('static', filename='update_pics/'+post.content_img) }}" alt=""
						title="This right here is a caption." />
				</a>
				<div class="user_information">
					<div class="box1"><img
							src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}"></div>
					<div class="box2">{{ post.author.username }}</div>
					<div class="box3">{{ post.date_posted.strftime('%Y-%m-%d') }}</div>
					<div class="box4"><img src="{{ url_for('static', filename='images/like_button.png') }}"></div>
					<div class="box5"><img src="{{ url_for('static', filename='images/comment_button.png') }}"></div>
					<div class="box6"><img src="{{ url_for('static', filename='images/share_button.png') }}"></div>
					<div class="box7">{{ post.title }}</div>
					<!-- <div class="box8">99+</div>
					<div class="box13">99+</div>
					<div class="box14">42</div> -->
					<div class="box9">{{ post.tags[0].tagname }}</div>
					<div class="box10">{{ post.tags[1].tagname }}</div>
					<div class="box15">{{ post.tags[2].tagname }}</div>
					<div class="box16">{{ post.tags[3].tagname }}</div>
					<div class="box11">{{ post.content[:9] }}..<a href="{{ url_for('post', post_id = post.id) }}">view
							more</a></div>
					<div class="box12"></div>
				</div>
			</div>
		</div>
		{% endfor %}
		<footer>
		</footer>
	</div>
</section>
<div class="upload_button">
	<a href="{{ url_for('new_post') }}"><img id="uploadB"
			src="{{ url_for('static', filename='images/uploadbutton.png') }}"></a>
</div>

</section>>
<!-- Scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- slideshow -->
<script>
	var slideIndex = 1;
	showSlides(slideIndex);

	function plusSlides(n) {
		showSlides(slideIndex += n);
	}

	function currentSlide(n) {
		showSlides(slideIndex = n);
	}

	function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		if (n > slides.length) { slideIndex = 1 }
		if (n < 1) { slideIndex = slides.length }
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		slides[slideIndex - 1].style.display = "block";
	}</script>
{% endblock content %}